force-app/main/default/flows/Book_Copy_Status_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Set the book copy status to &quot;Invalid&quot;. The status can&apos;t be updated to &quot;Available&quot; if there&apos;s another borrowing open related to the book copy.</description>
        <name>Set_Status_to_Invalid</name>
        <label>Set Status to Invalid</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if the book copy is related to an open borrowing</description>
        <name>Is_there_any_open_borrowing</name>
        <label>Is there any open borrowing?</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One or more borrowings are opened</defaultConnectorLabel>
        <rules>
            <name>No_open_borrowings_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Borrowings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No open borrowings found</label>
        </rules>
    </decisions>
    <description>Verify if there&apos;s any borrowing opened before updating the book copy status to &quot;Available&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Book Copy Status validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Copy Status Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the related open borrowings for this book copy</description>
        <name>Get_Borrowings</name>
        <label>Get Borrowings</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_open_borrowing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Book_Copy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Borrowing__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Borrowings</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <object>Book_Copy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
